@model BusinessLayer.DTOModels.DeveloperCompanyDTO
@{
    ViewData["Title"] = "Delete";
    ViewData["ActionName"] = "Developer";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@section Styles {
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/custom-styles.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


}

@section content {

    <div class="row justify-content-center">
        <div class="col-md-6 custom-card-container">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Delete Developer</h5>
                </div>
        
        <div class="card-body">


            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" class="form-control" readonly />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="YearFounded" class="control-label"></label>
                    <input asp-for="YearFounded" class="form-control" readonly />
                    <span asp-validation-for="YearFounded" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" readonly />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" readonly />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" readonly />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
     

                <br />
                     
                <input asp-action="DeleteDeveloper" title="Are You Sure You Want To Delete This Developer?" asp-controller="admin" type="submit" value="Delete" style="width:150px;" class="btn btn-edit " />
						<a style="margin-left:480px" asp-action="DeveloperList" asp-controller="Admin" class="btn btn-edit">
							<i class="fas fa-rotate-back"></i> Back
						</a>
            </form>
        </div>
        </div>
        </div>
        </div>
        <br />
   
}

@section scripts {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
