# Ignore Visual Studio files
.vs/
*.user
*.suo
*.appsettings.json

# Ignore build output directories
bin/
obj/

# Ignore log files
*.log
/DataAccessLayer/appsettings.json
/DataAccessLayer/appsettings.json
/PresentationLayer/appsettings.json
/PresentationLayer/appsettings.json
