@model BusinessLayer.DTOModels.ContractDTO

@{
    ViewData["Title"] = "Create Contract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Contract</h1>

<h4>Contract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="PropertyID" class="control-label"></label>
                <input asp-for="PropertyID" class="form-control" />
                <span asp-validation-for="PropertyID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" type="date" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MonthlyRent" class="control-label"></label>
                <input asp-for="MonthlyRent" class="form-control" />
                <span asp-validation-for="MonthlyRent" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SecurityDeposit" class="control-label"></label>
                <input asp-for="SecurityDeposit" class="form-control" />
                <span asp-validation-for="SecurityDeposit" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="DeletedOn" class="control-label"></label>
                <input asp-for="DeletedOn" class="form-control" />
                <span asp-validation-for="DeletedOn" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}