@model DataAccessLayer.Entities.User
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout1"; // Specify your layout file here
}

<form asp-controller="Account" asp-action="Login" method="post">
    <img src="~/assets/img/avatar.svg" alt="">
    <h2 class="title">Change Password</h2>

    <div class="input-div one">
        <div class="i">
            <i class="fas fa-lock"></i>
        </div>
        <div class="div">
            <h5>Email</h5>
            <input asp-for="PasswordHash" type="password" class="input" name="New Password" required>
        </div>
    </div>
  
    <div class="input-div pass">
        <div class="i">
            <i class="fas fa-lock"></i>
        </div>
        <div class="div">
            <h5>Password</h5>
            <input asp-for="PasswordHash" type="password" class="input" name="Confirm New Password" required>
        </div>
    </div>

    <input type="submit" class="btn" value="Confirm">

  
</form>
