@model PresentationLayer.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout1"; // Specify your layout file here
}

<form asp-controller="Account" asp-action="Login" method="post">
    <img src="~/assets/img/avatar.svg" alt="">
    <h2 class="title">Welcome</h2>

    <!-- Input Email -->
    <div class="input-div one">
        <div class="i">
            <i class="fas fa-envelope"></i> <!-- Add an icon for email -->
        </div>
        <div class="div">
            <h5>Email</h5>
            <input asp-for="Email" type="email" class="input" name="email" required>
        </div>
    </div>
    <!-- End Input Email -->
    <!-- Input Password -->
    <div class="input-div pass">
        <div class="i">
            <i class="fas fa-lock"></i>
        </div>
        <div class="div">
            <h5>Password</h5>
            <input asp-for="Password" type="password" class="input" name="password" required>
        </div>
    </div>
    <!-- End Input Password -->
    <!-- Remember Me Checkbox -->

    <div>
        <input asp-for="RememberMe" type="checkbox" id="rememberMe" name="rememberMe" />
        <label style="color: #999;" for="rememberMe">Remember Me</label>
    </div>


    @* <a asp-action="forgetpassword" asp-controller="account">Forgot Password?</a>
    *@
    <input type="submit" class="btn" value="Login">

    <div class="text-center mt-3">
        <p style="color: #999;" class="div">Don't have an account? <a asp-controller="Account" asp-action="Register">Register here</a></p>
    </div>
</form>
