@{
    ViewData["Title"] = "Register";
    Layout = "_Layout"; // Specify your layout file here
}

<!-- Styles Section -->
@section Styles {
    <link rel="stylesheet" href="~/assets/css/style.css">
}

<!-- Content Section -->
@section Content {
    <img src="~/assets/img/wave.png" class="wave" alt="">
    <div class="container">
        <div class="img">
            <img src="~/assets/img/bg.svg" alt="">
        </div>

        <!-- Register Content -->
        <div class="login-content">
            <form asp-action="Register" method="post">
                <img src="~/assets/img/avatar.svg" alt="">
                <h2 class="title">Welcome</h2>

                <!-- Input Username -->
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Username</h5>
                        <input type="text" class="input" name="Username" required>
                    </div>
                </div>

                <!-- Input Email -->
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Email</h5>
                        <input type="email" class="input" name="Email" required>
                    </div>
                </div>

                <!-- Input Password -->
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Password</h5>
                        <input type="password" class="input" name="Password" required>
                    </div>
                </div>

                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Confirm Password</h5>
                        <input type="password" class="input" name="ConfirmPassword" required>
                    </div>
                </div>

                <input type="submit" class="btn" value="Register">

                <div class="text-center mt-3">
                    <p style="color: #999;">Already have an account? <a asp-controller="User" asp-action="Login">Log in here</a></p>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="~/assets/js/main.js"></script>
}

@section Scripts {
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
}
