@{
    ViewBag.Title = "Contract Created Successfully";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="text-center">
        <h2 class="display-4">Contract Saved</h2>
        <p class="lead">Your contract is saved. Please wait for the approval.</p>
        <hr />
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary mt-3">Return to Home</a>
    </div>
</div>
