@model DataAccessLayer.Entities.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6 custom-card-container">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Edit user</h5>
            </div>
            <div class="card-body">
                <form id="editPropertyForm" asp-action="Edit" enctype="multipart/form-data" asp-controller="Users" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
       
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
      
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

         
            <div class="mb-3">
                <label asp-for="UserPicture" class="form-label">User Picture</label>
                <input asp-for="UserPicture" type="file" class="form-control" />
            </div>

  
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        
    <br />
       
                    <button type="submit" class="btn btn-success">Update user</button>
             
        </form>
        
    </div>
</div>
</div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
